<a href="https://colab.research.google.com/github/ShabatA/AI-course/blob/master/Day%201/lesson%201.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Hello, Python!

Python was named for the British comedy troupe [Monty Python](https://en.wikipedia.org/wiki/Monty_Python) (1991 first release). 


 It can be used for just about anything, which is why it’s considered so versatile. You can build Raspberry Pi applications, scripts for desktop programs and configure servers all via Python, but it’s not limited to just those tasks.

With Python, there really are no limits.

### Why Python?


*   Extensive Support Libraries (Web, Machine Learning, Data science and so much more)
*   Integration Feature (Jython, Cython,.....)

## Creating a variable

Here we create a variable called `shopping_list` and assign it the value of 0 using `=`, Python's assignment operator.

Unlike other programming languages, Python has no command for declaring a variable.

Variables do not need to be declared with any particular type and can even change type after they have been set.

In [1]:
l = 0
print(l)

0

In [0]:
x = 5
y = "John"
print(x)
print(y)

5
John

## Variable Names
* must start with a letter or the underscore character
* cannot start with a number
* can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
* case-sensitive (age, Age and AGE are three different variables)

A **function call**. `print` is an extremely useful builtin Python function that displays the value passed to it on the screen. We call functions by putting parentheses after their name, with the inputs to the function (or *arguments*) in between.

In [2]:
print(l)

0

In [0]:
shopping_list = 0

The first line above is a **comment**. In Python, comments begin with the `#` symbol.

Next we see an example of reassignment. Reassigning the value of an existing variable looks just the same as creating a variable - it still uses the `=` assignment operator.

In this case, the value we're assigning to `shopping_list` involves a little simple arithmetic on its previous value. When it encounters this line, Python evaluates the expression on the right-hand-side of the `=` (0 + 4 = 4), and then assigns that value to the variable on the left-hand-side.

In [4]:
# Ordering egg, Milk, tea, bread
amount = shopping_list + 4

print(amount)

4

The `*` operator can be used to multiply two numbers (`3 * 3` evaluates to 9), but amusingly enough, we can also multiply a string by a number, to get a version that's been repeated that many times. Python offers a number of cheeky little time-saving tricks like this where operators like `*` and `+` have a different meaning depending on what kind of thing they're applied to.

In [0]:
x = 3
print(x*3)

9

In [0]:
x = 'Hello'
print(x * 3)

HelloHelloHello

## Numbers and arithmetic in Python

We've already seen an example of a variable containing a number above:

In [0]:
shopping_list = 0

"Number" is a fine informal name for the kind of thing, but if we wanted to be more technical, we could ask Python how it would describe the type of thing that `shopping_list` is:

In [0]:
type(shopping_list)

int

It's an `int` - short for integer. There's another sort of number we commonly encounter in Python:

In [0]:
type(19.95)

float

A `float` is a number with a decimal place - very useful for representing things like weights or proportions.

`type()` is the second built-in function we've seen (after `print()`), and it's another good one to remember. It's very useful to be able to ask Python "what kind of thing is this?".

A natural thing to want to do with numbers is perform arithmetic. We've seen the `+` operator for addition, and the `*` operator for multiplication (of a sort). Python also has us covered for the rest of the basic buttons on your calculator:

| Operator     | Name           | Description                                            |
|--------------|----------------|--------------------------------------------------------|
| ``a + b``    | Addition       | Sum of ``a`` and ``b``                                 |
| ``a - b``    | Subtraction    | Difference of ``a`` and ``b``                          |
| ``a * b``    | Multiplication | Product of ``a`` and ``b``                             |
| ``a / b``    | True division  | Quotient of ``a`` and ``b``                            |
| ``a // b``   | Floor division | Quotient of ``a`` and ``b``, removing fractional parts |
| ``a % b``    | Modulus        | Integer remainder after division of ``a`` by ``b``     |
| ``a ** b``   | Exponentiation | ``a`` raised to the power of ``b``                     |
| ``-a``       | Negation       | The negative of ``a``                                  |

<span style="display:none">hack</span>

One interesting observation here is that, whereas your calculator probably just has one button for division, Python can do two kinds. "True division" is basically what your calculator does:

In [0]:
print(5 / 2)
print(6 / 2)

2.5
3.0

It always gives us a `float`. 

The `//` operator gives us a result that's rounded down to the next integer.

In [0]:
print(5 // 2)
print(6 // 2)

2
3

### Order of operations

The arithmetic we learned in primary school has conventions about the order in which operations are evaluated. Some remember these by a mnemonic such as **PEMDAS** - **P**arentheses, **E**xponents, **M**ultiplication/**D**ivision, **A**ddition/**S**ubtraction.

Python follows similar rules about which calculations to perform first. They're mostly pretty intuitive.

In [0]:
8 - 3 + 2

7

In [0]:
-3 + 4 * 2

5

Sometimes the default order of operations isn't what we want:

In [0]:
hat_height_cm = 25
my_height_cm = 190
# How tall am I, in meters, when wearing my hat?
total_height_meters = hat_height_cm + my_height_cm / 100
print("Height in meters =", total_height_meters, "?")

Height in meters = 26.9 ?

Parentheses are your trump card. You can add them to force Python to evaluate sub-expressions in a different order (or just to make your code easier to read).

In [0]:
total_height_meters = (hat_height_cm + my_height_cm) / 100
print("Height in meters =", total_height_meters)

Height in meters = 2.15

### Builtin functions for working with numbers

`min` and `max` return the minimum and maximum of their arguments, respectively...

In [0]:
print(min(1, 2, 3))
print(max(1, 2, 3))

1
3

`abs` returns the absolute value of it argument:

In [0]:
print(abs(32))
print(abs(-32))

32
32

In addition to being the names of Python's two main numerical types, `int` and `float` can also be called as functions which convert their arguments to the corresponding type:

In [0]:
print(float(10))
print(int(3.33))
# They can even be called on strings!
print(int('807') + 1)

10.0
3
808